@media (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }

    .promo {
        &__form {
            width: 1140px;
        }
    }

    .about {
        background-color: #ccc;

        &__txt {
            width: 100%;
        }

        .fz-1 {
            text-align: center;
        }

        &__wrapper {
            &::after {
                display: none;
            }
        }

        &__ramka {
            margin-left: 0;
            text-align: center;
        }
    }

    .jc-end {
        justify-content: center;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 960px;
    }

    .header {
        &__vrema {

            p,
            a {
                font-size: 14px;
            }
        }
    }

    .promo {
        padding-top: 80px;

        &__form {
            width: 720px;
        }

        &__form-title {
            &:after {
                display: none;
            }
        }
    }

    .advantages {
        padding: 90px 0;
    }

    .where {
        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .contacts {
        &__main {
            flex-wrap: wrap;
            gap: 44px;
        }
    }
}

@media (max-width: 1020px) {

    .header {
        &__top {
            padding-top: 0;
        }

        &__top-under {
            align-items: start;
            padding: 12px 0 60px;
        }

        &__vrema {
            display: none;
        }

        .burger {
            position: relative;
            margin-right: 20px;
            margin-top: 6px;
        }

        .m {}

        &__menu-btn {
            width: 30px;
            height: 22px;
            border: none;
            padding: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            cursor: pointer;

            z-index: 1;

            span {
                width: 100%;
                height: 4px;
                background-color: #c9adad;
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: #c9adad;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &__nav-main-list {
            flex-direction: column;
            display: none;
        }

        &__bot {
            padding: 18px 0;
        }

        &__bot-nav-list {
            display: grid;
            grid-template-columns: 50% 1fr;
            grid-gap: 24px;
        }

        &__bot-nav-point {
            text-align: center;
            padding: 10px;
            border: 1px solid var(--white-clr);
            border-radius: 10px;
        }

    }

    .btn,
    .promo__form-input {
        border-radius: 25px;
        padding: 12px 20px;
        height: auto;
        margin-bottom: 20px;
    }

    .col-md-4 {
        width: auto;
    }

    .btn-box {
        flex-direction: column;
        // gap: 20px;
    }

    .methods {
        padding: 40px 0;

        .flex {
            flex-direction: column-reverse;
            gap: 32px;
        }

        &__list {
            padding-left: 0;
        }

        .col-lg-5 {
            width: 70%;
        }
    }

    .if {
        padding: 40px 0;

        .flex {
            gap: 40px;
        }
    }

    .where {
        &__list {
            display: grid;
            grid-template-columns: 50% 1fr;
            align-items: center;
            grid-gap: 12px;
        }

        &__point {
            width: 100%;
        }
    }

    .contacts {
        &__cart {
            flex-direction: column;
            gap: 20px;
            align-items: start;
        }

        &__map {
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        padding: 0 15px;
    }

    .promo {
        &__form {
            width: 94%;
            display: flex;
            flex-direction: column;
            padding: 30px 0;
            gap: 20px;
            // margin-top: 80px;
        }

        &__subtitle {
            font-size: 24px;

            h2 {
                font-size: 24px;
            }
        }
    }

    .fz-title {
        font-size: 52px;
    }

    .price {
        &__bg {
            margin-top: 40px;
        }

        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            flex-direction: column;
        }

        &__point {
            text-align: center;
            padding: 0;

            &::after {
                left: 42%;
            }
        }

        &__link {
            width: 100%;
        }

        &__tab {
            padding-bottom: 50px;
        }

        &__tab-i {
            td {
                width: 60%;
            }
        }

        &__tab-wrapper {
            label {
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }

    .descr {
        margin-top: 12px;
    }

    .divid {
        display: none;
    }

    .title {
        text-align: center;
        display: block;
        font-size: 30px;
        line-height: 40px;
        border: 1px solid var(--danger-clr);
        padding-left: 0;
        padding: 2px;
    }

    .zagolovok {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        padding-bottom: 12px;
        border-bottom: 1px solid #fff;
    }

    .about {
        padding: 40px 0;
    }

    .advantages {
        padding: 40px 0;

        .flex {
            flex-direction: column;
        }

        .tac {
            margin-bottom: 36px;
        }
    }

    .footer__form {
        padding: 60px 0;
    }

    .soc-btn-box {
        flex-direction: column-reverse;
        gap: 30px;
    }


    .btn {
        &__header {
            margin-right: 0;
        }
    }

    .advantages {
        ul {
            display: grid;
            grid-template-columns: 50% 1fr;
            grid-gap: 24px;
        }

        &__list {
            width: 100%;
            margin: 0;
        }
    }

    .py60 {
        padding: 40px 0;
    }

    .price {
        &__table {
            margin-top: 0;
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .promo {

        &__subtitle {
            font-size: 20px;

            h2 {
                font-size: 20px;
            }
        }

        &__form-title {
            gap: 8px;
        }
    }

    .fz-title {
        font-size: 42px;
        line-height: 56px;
    }

    .fz-xl {
        font-size: 16px;
    }

    .faq {
        padding: 40px 0;

        &__title {
            margin-bottom: 40px;
        }

        .accordion-item-header {
            font-size: 14px;
        }
    }

    .txt__seo {
        padding: 40px 0;

        p {
            font-size: 14px;
        }

        .container {
            padding: 20px;
        }
    }

    .footer__form-title,
    .footer__form-subtitle {
        font-size: 26px;
    }

    .header {
        &__bot-nav-list {
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 24px;
        }
    }

    .advantages {
        ul {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 24px;
        }
    }

    .methods {
        &__img {
            max-width: 100%;
        }
    }
}


@media (max-width: 576px) {
    .container {
        max-width: 98%;
    }

    .promo-box {
        flex-direction: column;
        width: 80%;
    }

    .promo {
        padding-top: 50px;
    }

    .fz-l {
        font-size: 18px;
    }

    .zagolovok {
        font-size: 20px;
    }

    .title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .price {
        &__tab-i {
            td {
                width: 40%;
                font-size: 12px;

                button {
                    font-size: 12px;
                    padding: 8px 24px;
                }
            }

            strong {
                font-size: 12px;
            }
        }
    }

    .faq {

        .accordion-item-header,
        .accordion-item-content {
            font-size: 12px;
            text-align: center;
        }

        .accordion-item-header {
            padding: 16px;
            padding-bottom: 30px;

            &::after {
                top: 50px;
                right: 48%;
            }
        }

        .accordion-item-content {
            margin: 6px 0;
        }
    }

    .txt__seo {
        text-align: center;

        p {
            font-size: 12px;
            margin-bottom: 12px;
        }

        b {
            font-size: 14px;
        }

        .container {
            padding: 16px;
        }
    }

    .footer__form-title,
    .footer__form-subtitle {
        font-size: 24px;
    }

    .if {
        .flex {
            gap: 20px;
        }

        &__txt {
            font-size: 12px;
        }
    }

    .methods {
        &__point-title {
            font-size: 18px;
            margin-left: 16px;
        }

        &__txt {
            font-size: 12px;
            margin-left: 16px;
        }

        &__point {
            &::after {
                top: 1px;
            }

        }
    }

    .where {
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }

        &__point {
            width: 100%;
        }
    }

    .price {
        &__table {
            max-width: 70%;
            margin: 0 auto;

            td {
                font-size: 12px;
                padding: 5px;
            }
        }
    }

    .title__price {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .jurface {
        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 450px) {
    .faq {
        .accordion-item-header {
            padding-bottom: 48px;

            &::after {
                top: 68px;
                right: 48%;
            }
        }
    }

    .title {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .footer__form-title,
    .footer__form-subtitle {
        font-size: 20px;
    }

    .price {
        &__table {
            max-width: 70%;

            td {
                font-size: 8px;
                padding: 4px;
            }
        }
    }
}

@media (max-width: 320px) {}

@media (max-width: 280px) {}